In [1]:
# Load libraries
import numpy as np 
import pandas as pd 
from sklearn.feature_extraction.text import CountVectorizer

### Create some text data

In [2]:
# Create text
text_data = np.array(['I love Skydiving. I love it very much!',
                      'I am the best',
                      'Be kind to other people'])
text_data

array(['I love Skydiving. I love it very much!', 'I am the best',
       'Be kind to other people'], dtype='<U38')

### Create Bag of Words with `CountVectorizer()`

In [3]:
# Create the BoW feature matrix 
count = CountVectorizer()
BoW = count.fit_transform(text_data)

# Show feature matrix 
BoW.toarray()

array([[0, 0, 0, 1, 0, 2, 1, 0, 0, 1, 0, 0, 1],
       [1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0]])

In [6]:
# Get feature names (columns)
feature_names = count.get_feature_names_out()
print(feature_names)

['am' 'be' 'best' 'it' 'kind' 'love' 'much' 'other' 'people' 'skydiving'
 'the' 'to' 'very']

In [7]:
# Put the BoW into a dataframe 
pd.DataFrame(BoW.toarray(), columns=feature_names)

   am  be  best  it  kind  love  much  other  people  skydiving  the  to  very
0   0   0     0   1     0     2     1      0       0          1    0   0     1
1   1   0     1   0     0     0     0      0       0          0    1   0     0
2   0   1     0   0     1     0     0      1       1          0    0   1     0